.codeblock {
    margin: 5px 10px 5px 10px;
    padding: 10px;

    background-color: #fafafa;

    border-top: 1px solid #d7e1ae;
    border-bottom: 1px solid #d7e1ae;
    }

.codeblock pre {
    margin: 0px;
    }

table.docutils {
    width: 100%;
    border: 1px solid #6D6D6D;
    border-collapse: collapse;
    }

table.docutils th {
    border: 1px solid #6D6D6D;
    background-color: #EBEBEB;
    }


table.docutils td {
    border: 1px solid #6D6D6D;
    }
